<div class="main-wrap--search" ng-controller="SearchController as searchCtrl">
    <form class="search" name="seachForm" novalidate>
        <search-input-block type="is" type-pos="before" property="available" ng-model="$storage.params.isAvailable"></search-input-block>

        <hr>

        <section class="search__types">
            <div class="search__types-header">
                <h3 class="search__types-title">Home types</h3>
                <a href class="search__types-reset" ng-click="resetHomeTypes()" ng-hide="isSearchAllTypes()">Reset home types</a>
            </div>

            <div class="search__types-inputs">
                <div class="search__input-block">
                    <input type="checkbox" name="search-types" id="search-types-studio" ng-model="$storage.params.types.studio"> <label for="search-types-studio" class="search__input-label" ng-class="{ 'search__input-label--null':!liveCount.type.studio }">Studio ({{liveCount.type.studio || 0}})</label>
                </div>
                <div class="search__input-block">
                    <input type="checkbox" name="search-types" id="search-types-apartment" ng-model="$storage.params.types.apartment"> <label for="search-types-apartment" class="search__input-label" ng-class="{ 'search__input-label--null':!liveCount.type.apartment }">Apartment ({{liveCount.type.apartment || 0}})</label>
                </div>
                <div class="search__input-block">
                    <input type="checkbox" name="search-types" id="search-types-rowhouse" ng-model="$storage.params.types.rowhouse"> <label for="search-types-rowhouse" class="search__input-label" ng-class="{ 'search__input-label--null':!liveCount.type.rowhouse }">Row house ({{liveCount.type.rowhouse || 0}})</label>
                </div>
                <div class="search__input-block">
                    <input type="checkbox" name="search-types" id="search-types-house" ng-model="$storage.params.types.house"> <label for="search-types-house" class="search__input-label" ng-class="{ 'search__input-label--null':!liveCount.type.house }">House ({{liveCount.type.house || 0}})</label>
                </div>
            </div>

            <p class="search__types-init-msg" ng-show="isSearchAllTypes()">Currently searching all home types.</p>
        </section>

        <hr>

        <section class="search__price-range">
            <h3>Price range</h3>
            <rzslider class="search__price-range-slider" rz-slider-floor="$storage.params.priceRange.floor" rz-slider-ceil="$storage.params.priceRange.ceil" rz-slider-model="$storage.params.priceRange.min" rz-slider-high="$storage.params.priceRange.max" rz-slider-step="{{$storage.params.priceRange.step}}" rz-slider-translate="translate"></rzslider>
        </section>

        <hr>

        <section class="search__features">
            <h3 class="search__features-title">Features</h3>
            <search-input-block type="has" type-pos="before" property="balcony" ng-model="$storage.params.hasBalcony"></search-input-block>
            <search-input-block type="has" type-pos="before" property="garden" ng-model="$storage.params.hasGarden"></search-input-block>
            <search-input-block type="allowed" type-pos="after" property="pets" ng-model="$storage.params.allowsPets"></search-input-block>
            <search-input-block type="has" type-pos="before" property="sauna" ng-model="$storage.params.hasSauna"></search-input-block>
        </section>

        <hr>

        <section class="search__areas">
            <div class="search__areas-header">
                <h3 class="search__areas-title">Areas</h3>
                <a href class="search__add-area" ng-show="toSelectAreas.length" ng-click="choose = !choose">Add area</a>
                <a href class="search__reset-areas" ng-show="selectedAreas.length" ng-click="resetSelectedAreas()">Clear all selected areas</a>
            </div>

            <div class="search__area-choose" ng-show="choose && toSelectAreas.length">
                <h4 class="search__area-choose-title">Available areas</h4>
                <a href class="search__area-choose-close" ng-click="choose = !choose">close</a>
                <span class="search__area" ng-repeat="area in toSelectAreas"><a href class="search__area-link" ng-click="addArea(area)">{{area}}</a><br></span>
            </div>
            <div class="search__area-results">
                <p class="search__result-init-msg" ng-hide="selectedAreas.length">Currently searching all areas, narrow your search down by adding areas.</p>
                <span class="search__result-area" ng-repeat="area in selectedAreas" ng-class="{ 'search__result-area--null':!liveCount.area[area] }">{{area}} ({{liveCount.area[area] || 0}})</a> <a href class="search__result-area-remove" ng-click="removeArea(area)">remove</a><br></span>
            </div>
        </section>

        <hr>

        <div class="search__results-block">
            <span class="search__results" ng-pluralize count="results.count" when="{'0': 'No homes found', '1': '1 home found', 'other': '{} homes found'}"></span>
            <a href="" ng-click="resetSearch()" class="search__reset">Reset search</a>
        </div>

        <hr>

        <section class="favorites">
            <div class="favorites__header">
                <h3 class="favorites__title">My favorites</h3>
                <a href class="favorites__reset" ng-click="resetLikes()" ng-show="$storage.local.likes.length">Clear favorites</a>
            </div>

            <p class="favorites__init-msg" ng-hide="$storage.local.likes.length">Click the heart on your favorite homes to save them here.</p>

            <section class="favorites__areas">
                <table class="favorites__area-data" ng-repeat="(area, areaData) in sortedLikes">
                    <tr ng-repeat="homeData in areaData">
                        <td class="favorites__area" rowspan="{{areaData.length}}" ng-if="$index === 0">
                            <h4>{{area}}</h4>
                        </td>
                        <td class="favorites__address">
                            <a href="#/homes/{{homeData.homeId}}" class="favorites__address-link">{{homeData.address}}</a> <a href class="favorites__address-remove" ng-click="removeFavorite(homeData.homeId)">remove</a>
                        </td>
                    </tr>
                </table>
            </section>
        </section>
    </form>
    <div class="results" ng-controller="SearchResultsController as resCtrl">
        <div class="tab-bar" ng-controller="TabBarController">
            <a href class="tab-bar__tab" ng-class="{ 'tab-bar__tab--current' : $storage.params.views.last === 'grid' }" ng-click="changeTab('grid')">Grid view</a>
            <a href class="tab-bar__tab" ng-class="{ 'tab-bar__tab--current' : $storage.params.views.last === 'map' }" ng-click="changeTab('map')">Map view</a>
            <div class="tab-bar__specific--grid" ng-show="$storage.params.views.last === 'grid'">
                <div class="search__input-block">
                    <label for="orderby">Order by&nbsp;</label>
                    <a href class="search__orderby-toggle" ng-class="{ 'search__orderby-toggle--reversed':isReversed() }" ng-click="reverseOrder()"></a>
                    <select id="orderby" ng-model="$storage.params.orderby" class="search__select--orderby">
                        <option value="">Select order</option>
                        <option value="rentalCost">Price</option>
                        <option value="dateAdded">Date added</option>
                        <option value="address">Alphabetical</option>
                    </select>
                </div>
            </div>
            <div class="tab-bar__specific--map" ng-show="$storage.params.views.last === 'map'">
                <a href class="tab-bar__tab" ng-class="{ 'tab-bar__tab--disabled':bounds.isFit }" ng-click="bounds.reset()">Fit all markers</a>
            </div>
        </div>
        <section class="results__grid-view" ng-controller="GridViewController" ng-if="$storage.params.views.last === 'grid'">
            <single-result></single-result>
            <p ng-show="results.count === 0">No homes match your search requirements,<br>
            try <a href ng-click="resetSearch()">broadening your search</a>.</p>
        </section>
        <section class="results__map-view" ng-controller="MapViewController" ng-if="$storage.params.views.last === 'map'">
            <ui-gmap-google-map events="map.events" center="map.center" zoom="map.zoom" draggable="true" options="map.options">

                <ui-gmap-window templateUrl="window.templateUrl" templateParameter="window.templateParameter" options="window.options" show="window.show" coords="marker.active.location">
                </ui-gmap-window>

                <ui-gmap-markers models="filteredHomes" coords="'location'" idKey="'homeId'" fit="map.fit" events="marker.events">
                </ui-gmap-markers>

            </ui-gmap-google-map>
        </section>
    </div>
</div>