<!DOCTYPE html>
<html ng-app="myhome">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>myHome</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="assets/css/style.css">
    </head>
    <body ng-controller="MyHomeController as myhome">
        <main class="main" ng-controller="SearchController as searchCtrl">
            <form class="search" name="seachForm" novalidate>

                <div class="search__input-block">
                    <label for="available">Available</label>
                    <select id="available" ng-model="searchCtrl.isAvailable" class="search__select--available">
                        <option value="">No preference</option>
                        <option value="true" selected>Yes</option>
                        <option value="false">No</option>
                    </select>
                </div>
                <hr>
                <div class="search__input-block">
                    <label for="balcony">Has balcony:</label>
                    <select id="balcony" ng-model="searchCtrl.hasBalcony" class="search__select--balcony">
                        <option value="" selected>No preference</option>
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                </div>

                <div class="search__input-block">
                    <label for="garden">Has garden:</label>
                    <select id="garden" ng-model="searchCtrl.hasGarden" class="search__select--garden">
                        <option value="" selected>No preference</option>
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                </div>

                <div class="search__input-block">
                    <label for="pets">Pets allowed:</label>
                    <select id="pets" ng-model="searchCtrl.allowsPets" class="search__select--pets">
                        <option value="" selected>No preference</option>
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                </div>

                <div class="search__input-block">
                    <label for="sauna">Has sauna:</label>
                    <select id="sauna" ng-model="searchCtrl.hasSauna" class="search__select--sauna">
                        <option value="" selected>No preference</option>
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                </div>

                <hr>

                <div class="search__input-block">
                    <label for="orderby">Order by</label>
                    <select id="orderby" ng-model="searchCtrl.orderby" class="search__select--orderby">
                        <option value="">Select order</option>
                        <option value="rentalCost">Price</option>
                        <option value="dateAdded">Date added</option>
                        <option value="address">Alphabetical</option>
                    </select>
                </div>

                <div class="search__input-block">
                    <label for="reverse_order">Reverse order</label><input type="checkbox" class="search__check--reverse" id="reverse_order" ng-model="searchCtrl.reverseOrder" ng-click="searchCtrl.toggleReverseOrder()">
                </div>
            </form>
            <div class="results">
                <single-result></single-result>
            </div>
        </main>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
        <script src="assets/js/app.js"></script>

    </body>
</html>
