.favorites {
    &__header {
        @include clearfix;
    }

        &__title {
            float: left;
        }

        &__reset {
            @extend %single-link;

            float: right;
        }

    &__init-msg {
        @extend %subline;
    }

    &__areas {
        margin-top: 20px;
    }

        &__area-data {
            width: 100%;

            border-bottom: 1px solid palette(gray, lightest);

            &:last-of-type {
                border-bottom: none;
            }
        }

            &__area {
                width: 50%;

                vertical-align: top;
                font-size: smaller;
            }

            &__address {
                position: relative;
                padding-left: 2px;

                &:hover {
                    background-color: palette(gray, lightest);
                }
            }

                &__address-link {
                    @extend %single-link;
                }

                &__address-remove {
                    @include icon("\e804");

                    display: none;
                    float: right;
                    width: 0;
                    height: 1em;
                    overflow: hidden;

                    font-size: 1em;

                    &:after {
                        position: absolute;
                        top: 1px;
                        right: 0;
                    }

                    .favorites__address:hover & {
                        display: inline-block;
                    }
                }
}