.favorites {
    &__header {
        @include clearfix;
    }

        &__title {
            float: left;
        }

        &__reset {
            @extend %single-link;

            float: right;
        }

    &__init-msg {
        @extend %subline;
    }

    &__areas {
        margin-top: 20px;
    }

        &__area-data {
            width: 100%;

            border-bottom: 1px solid palette(gray, lightest);

            &:last-of-type {
                border-bottom: none;
            }
        }

            &__area {
                width: 50%;

                vertical-align: top;
                font-size: smaller;
            }

            &__address {

            }

                &__address-link {
                    @extend %single-link;
                }
}