.gallery {
    @include clearfix;

    display: block;
    position: relative;

    &__main {
        @include span(6 of 9);
    }

        &__main-img {
            display: block;
        }

    &__thumbs {
        @include span(3 of 9);
        @include last;
        @include transition(all 2s);

        position: absolute;
        top: 0;
        right: 0;
        overflow: hidden;
        height: 100%;

        &:hover {
            overflow: visible;
        }
    }

        &__thumb-scroller {
            position: absolute;
            top: 0;
            right: 0;
        }
}