$like-symbol: "\e800";
$no-like-symbol: "\e801";

@mixin symbol-like($like, $important: false) {
    $symbol: "";
    $importantStr: "";

    @if $like == true {
        $symbol: $like-symbol;
    } @else {
        $symbol: $no-like-symbol;
    }

    @if $important == true {
        content: $symbol !important;
    } @else {
        content: $symbol;
    }
}

.like {
    float: right;

    font-family: "fontello";
    text-decoration: none;

    &__symbol {
        @include hide-text;
        display: inline-block;
        height: 2em;

        color: palette(primary, lighter);

        &:before {
            content: "";
        }

        &:hover:before,
        .like--has &:before {
            @include symbol-like(true, true);
        }

        .like--has &:before {
            color: palette(primary);
        }
    }
}