.result {
    display: inline-block;
    width: span(12 of 12);
    margin-bottom: gutter();
    padding: 10px;

    color: palette(gray, lightest);
    background-color: rgba(0,0,0,0.8);

    &:nth-child(2n) {
        margin-right: 0;
    }

    &:hover {
        .like__symbol:before {
            @include symbol-like(false);
        }
    }

    @include breakpoint(s) {
        width: span(6 of 12);
        margin-right: gutter();

        &:nth-child(2n) {
            margin-right: 0;
        }

        &:nth-last-child(-n +2) {
            margin-bottom: 0;
        }
    }

    @include breakpoint(m) {
        width: span(4 of 12);

        &:nth-child(2n) {
            margin-right: gutter();
        }

        &:nth-child(3n) {
            margin-right: 0;
        }

        &:nth-last-child(-n +3) {
            margin-bottom: 0;
        }
    }

    @include breakpoint(l) {
        width: span(3 of 12);

        &:nth-child(3n) {
            margin-right: gutter();
        }

        &:nth-child(4n) {
            margin-right: 0;
        }

        &:nth-last-child(-n +4) {
            margin-bottom: 0;
        }
    }

    &__title {
        @extend %title;
    }

        &__title-link {
            text-decoration: none;
            color: palette(gray, lightest);;

            &:hover {
                text-decoration: underline;
            }
        }

    &__extra--has {
        font-weight: bold;
    }

    &__date-added {
        font-size: x-small;
        color: palette(gray, light);
    }
}