.result {
    display: inline-block;
    width: span(3 of 12);
    margin: 0 gutter() gutter() 0;
    padding: 20px;

    color: #eee;
    background-color: rgba(0,0,0,0.8);

    &:nth-child(4n) {
        margin-right: 0;
    }

    &:nth-last-child(-n +4) {
        margin-bottom: 0;
    }

    &:hover {
        .like__symbol:before {
            @include symbol-like(false);;
        }
    }

    &__title-link {
        text-decoration: none;
        color: #eee;

        &:hover {
            text-decoration: underline;
        }
    }

    &__extra--has {
        font-weight: bold;
    }

    &__date-added {
        font-size: x-small;
        color: palette(gray, light);
    }
}