.search {
    @include breakpoint(m) {
        @include span(3 of 12);
    }

    &__input-block {
        @include clearfix;
    }

        &__input-label {
            @extend %label;

            &--null {
                @extend %null-val;
            }
        }

    &__types {

    }

        &__types-header {
            @include clearfix;
        }

            &__types-title {
                float: left;
            }

            &__types-reset {
                @extend %single-link;

                float: right;
            }

        &__types-inputs {
            @include columns(2);
        }

        &__types-init-msg {
            @extend %subline;
        }

    &__price-range-slider {
        font-size: smaller;

        span.bar {
            background: #eee;

            &.selection {
                background: palette(primary);
            }
        }

        span.bubble {
            color: #000;

            &.limit {
                color: #ddd;
            }
        }

        span.pointer {
            top: -7px;
            width: 16px;
            height: 16px;

            background-color: #ccc;
            border-radius: 0;

            &:after {
                top: 4px;
                left: 4px;

                background: #eee;
            }

            &:hover {
                &:after {
                    background: palette(primary);
                }
            }

            &.active {
                &:after {
                    background: palette(primary);
                }
            }
        }
    }

    &__areas {
        position: relative;
    }

        &__areas-header {
            @include clearfix;
        }

            &__areas-title {
                float: left;
            }

            &__add-area {
                @include icon("\e802");

                display: inline-block;
                float: right;
                width: 0;
                height: 1em;
                overflow: hidden;

                &:after {
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }

            &__reset-areas {
                @extend %single-link;

                float: right;
                margin-right: 2em;
            }

        &__area-choose {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
            min-width: 180px;

            background: #fff;
            box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
        }

            &__area-choose-title {
                padding: 3px 10px;
            }

            &__area-choose-close {
                @include icon("\e804");

                float: right;
                width: 0;
                height: 1em;
                overflow: hidden;

                &:after {
                    position: absolute;
                    top: 5px;
                    right: 5px;
                }
            }

            &__area {
                display: block;
                padding: 0 10px;

                &:hover {
                    background: palette(gray, lightest);
                }
            }

                &__area-link {
                    @extend %single-link;

                    &--null {
                        color: palette(gray, lighter);
                    }
                }

        &__area-results {

        }

            &__result-init-msg {
                @extend %subline;
            }

            &__result-area {
                @include clearfix;
                @extend %label;

                display: block;
                position: relative;
                padding-left: 2px;

                &:hover {
                    background-color: palette(gray, lightest);
                }

                &--null {
                    @extend %null-val;
                }
            }

            &__result-area-remove {
                @include icon("\e804");

                display: none;
                float: right;
                width: 0;
                height: 1em;
                overflow: hidden;

                font-size: 1.2em;

                &:after {
                    position: absolute;
                    top: 0;
                    right: 0;
                }

                .search__result-area:hover & {
                    display: inline-block;
                }

                .search__result-area--null & {
                    &:after {
                        color: palette(black);
                    }

                    &:hover:after {
                        color: palette(primary);
                    }
                }
            }

    &__orderby-toggle {
        @include icon("\e805");
        @include transform(rotate(180deg));

        float: right;

        color: #000;
        text-decoration: none;

        &--reversed {
            @include transform(rotate(0deg));
        }
    }

    &__results-block {
        @include clearfix;
    }

        &__results {
            float: left;
        }

        &__reset {
            @extend %single-link;

            float: right;
        }
}

[class^="search__select"],
[class^="search__check"] {
    float: right;
}