.search {
    @include span(3 of 12);

    &__orderby-toggle {
        float: right;

        color: #000;
        text-decoration: none;
    }
}

[class^="search__select"],
[class^="search__check"] {
    float: right;
}