.single {
    &__header {
        @include full;
        @include clearfix;

        margin-bottom: 50px;
    }

        &__title {
            float: left;
        }

        &__price {
            float: right;

            font-size: larger;
        }

        &__back {
            clear: both;
            padding-top: 20px;
        }

            &__back-link {
                font-size: smaller;
            }

    &__extras {
        @include span(3 of 12);
    }

    &__main {
        @include span(9 of 12);
        @include last;
    }

        &__description {
            @include span(5 of 9);
        }

        &__map {
            @include span(4 of 9);
            @include last;
        }
}

.angular-google-map-container { height: 240px; }