.single {
    &__header {
        @include full;
        @include clearfix;

        margin-bottom: 50px;

        .like__symbol {
            &:before {
                @include symbol-like(false);

                color: palette(gray, lighter);
            }

            &:hover {
                &:before {
                    color: palette(primary);
                }
            }

            @at-root .like--has .like__symbol:before  {
                color: palette(primary);
            }
        }
    }

        &__back {
            clear: both;
        }

            &__back-link {
                @extend %single-link;
            }

        &__title {
            float: left;
            margin-top: 20px;
        }

        &__price {
            float: right;
            margin-left: 20px;

            font-size: larger;
        }

    &__extras {
        @include span(3 of 12);
    }

        &__subtitle--side {
            margin-bottom: 20px;
        }

    &__main {
        @include span(9 of 12);
        @include last;
    }

        &__description {
            @include span(5 of 9);
        }

        &__map {
            @include span(4 of 9);
            @include last;
        }

    &__lightbox {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        text-align: center;
        background-color: rgba(255,255,255,0.8);

        &:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -0.25em;
        }
    }

        &__lightbox-img {
            display: inline-block;
            max-height: 80%;
            vertical-align: middle;
        }

        &__lightbox-advance {
            @include icon("\e806");
            display: inline-block;

            width: 1em;
            height: 0;

            color: palette(black);
            text-align: right;
            font-size: 6em;
            line-height: 0;

            &:after {

            }

            &:last-of-type {
                @include icon("\e807");

                text-align: left;
            }
        }
}

.angular-google-map-container { height: 240px; }